<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
	<title>Home | PrepAIr</title>
</head>
<body style="text-align: center">
{% extends 'base.html' %}{% block content %}
<br><br><br>
	<h1 style="font-size: 50px">Let's get cooking!</h1>

	<form method="POST" enctype="multipart/form-data">
		<h2>Upload an image: </h2><input name="photo" type="file">
		<input name="uploadImg" type="submit">	
	</form>
<h1>OR</h1>
	<form method="POST">
		<h2>Paste an image link: </h2><input name="link" type="link">
		<input name="useLink" type="submit">	
		<br><br>
		<div class="grid-container">
			<div class="grid-item">
				{% if link%}<img style="height:25%;width:25%"src={{link}} alt="link_image"><br>{% endif %}
			</div>

			<div class="grid-item">
				{% for tag in tagsList %}{{ tag }}<br>{% endfor %}
			</div>
		</div>
	</form>
	{% endblock %}
</body>
</html>