<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
	<title>Recipes</title>
</head>
<body style="text-align: center">
{% extends 'base.html' %}{% block content %}
<br><br><br>
<div style="text-align: center">
	<h1 style="font-size: 50px">Recipes</h1>
<h2>Here are your recipe suggestions!</h2>
</div>
	{% if link%}<img style="display:block;align-items:center;width: 50%;height: 25%" src={{link}} alt="link_image"><br>{% endif %}
	{% for tag in tagsList %}{{ tag }}<br>{% endfor %}
{% endblock %}
</body>
</html>